@import 'variable';

*{
    margin: 0;
    padding: 0;
}

body{
    box-sizing: border-box;
}

.sec1{
    display: $d-flex;
    // position:;
    justify-content: $justify-between;
    align-items: $align-center;
    height: 90px;
    width: 100%;
}
.nav1{
    display: $d-flex;
    justify-content: $justify-between;
    ul{
        display: $d-flex;
        align-items: $align-center;
        margin-right: 25px;
        li{
            list-style: none;
            margin: 0 14px;
            font-size: 18px;
            font-weight: 600;
        }
    }
    .contact{
        border-color: $color-4;
        background-color: $color-4;
       
    }
}
.sec2{
    // background-image:url("/scss/img/background/page-title-bg.jpg");
     height: 200px;
    .main1 img{
         // background-image: url("img/background/newsletter-bg.jpg");
         height: $h-4;
         width: $w-11;}
    .overley{
        // transition: 0.5s ease; 
        height: 600px; 
        width: 1400px; 
        background-color: $bg-color-3; 
        position: absolute;  
        inset: 0;
        opacity: 30%;
        top: 90px;

        .error {
            color: aliceblue;
            text-align: center;
            margin-top:40px;
        }
    }
}
.sec3{
    .page{
        height: 380px;
        width: $w-11;
        background-color: aliceblue;
        position:absolute;
        inset: -1;
        // top:-10px;
        bottom: 30px;

        .i1{
            height: 150px;
             margin-left: 38%;
             margin-top: 50px;
        }
        h2{
            text-align: center;
            margin-top: 20px;

            .s1{
                color: orangered;
                font-weight: 200;
            }
            .s2{
                font-style: italic;
                font-weight: 200;
            }
        }
        button{
            height: 40px;
            width: 130px;
            background-color: orangered;
            color: antiquewhite;
            margin-left: 46%;
            margin-top: 20px;
            border: none;
        }

    }
}
.part1{
    .p1{
        display:inline;
    }
}
