$bg-color-1:green;
$bg-color-2:red;
$bg-color-3:blue;
$bg-color-4:orange;
$bg-color-5:purple;
$bg-color-6:black;
$bg-color-7:yellow;
$bg-color-8:gray;
$bg-color-9:brown;
$bg-color-10:tomato;
// $bg-color-12:orange;

$color-1:green;
$color-2:red;
$color-3:blue;
$color-4:orange;
$color-5:purple;
$color-6:black;
$color-7:yellow;
$color-8:gray;
$color-9:brown;
$color-10:tomato;