nav {
    display: block;
    margin-top: 40vh;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    list-style: none;
    border-radius: .25rem;
    text-align: center;
    color: #484b5a;
}

.pagination>li {
    padding: 0 3px;
    flex: 1 1 42px;
    max-width: 42px;
    min-width: 27px;
    float: left;
    font-size: 1.4rem;
}

.pagination>.active>span,
.pagination>li>a:hover {
    background: 0 0;
    background-color: #71d9f5;
    ;
    color: #fff;
    border-radius: 4px;
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        inset -7px -7px 10px 0px rgba(0, 0, 0, .1), 5px 5px 10px 0px rgba(0, 0, 0, .1),
        2px 2px 5px 0px rgba(0, 0, 0, .1);
    text-shadow: 2px 2px 3px rgba(255, 255, 255, .5),
        -4px -4px 6px rgba(116, 125, 136, .2);
    outline: none;
}

.pagination>li>a,
.pagination>li>span {
    display: inline-block;
    text-decoration: none;
    width: 100%;
    padding: 6px 0;
    color: inherit;
    background: #fff;
    border-right: 0;
}