.pagination{
    display: flex;
    justify-content: center;
    margin-top: 200px;
  }
  .pagination div{
    height: 50px;
    width: 50px;
    border:2px solid black;
    display: flex;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transform: translate(9px);
    transition: 0.35s;
    background-color:pink;
    box-shadow:inset 5px 5px 5px rgba(29, 0, 55, 0.4) ;
  }
  
  .pagination div span{
    font-size: 20px;
  }
  
  .pagination div:hover {
    /* background-color:gray; */
    box-shadow: 5px 5px 5px rgba(29, 0, 55, 0.4) ;
    transform: translatey(-25px);
    transition: 0.50s;
    background-color:paleturquoise;
    color:black;
  }