.maindiv{
    background-color: purple;
    height: 80px;
    display: flex;
    align-items: center;
    font-size: 20px;
    justify-content: center;
    color: aliceblue;
}
.div1{
    height: 200px;
    background-color:aqua ;
}
.div2{
    height: 200px;
    background-color:aqua ;
}
.div3{
    height: 200px;
    background-color:aqua;
}